.home-page{
  background-color: white;
  color: white;
}
.home-page h1{
  color: white;
}
.jumbotron {
    padding: 8rem 1rem;
    background-color: #141868;
    margin-bottom: 2rem;
  }


.custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: white; 
}

.custom-card-title{
  font-size: 1.5rem; 
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.custom-card p {
  font-size: 1rem; 
  text-align: left; 
  color:black;
}
.card-container{
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .custom-card {
    margin-bottom: 20px;
  }
}
