.header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 20px;
  padding: 15px 10px 0 0;
}

#season-dropdown {
  margin-top: 10px;
  background-color: #0d0d0d;
  border: #0d0d0d;
}

h1 {
  font-size: 2.5rem;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Noto Sans Chorasmian", sans-serif;
  text-align: left;
}

.team-badge {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
