.nav{
    color: white;
    background-color: black;
    transition: color 0.3s, border-bottom-color 0.3s;
}
.nav-options{
    color: white;
    border-bottom: 1px solid transparent; 
}

.nav-options:hover {
    color: #99fffc;
    border-bottom: 1px solid #99fffc; 
  }

  